body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

header{
    background-color: #5f93a0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    width: 75%;
    height: 50px;
    margin: auto;
}

/* Cell kleuren */

#cell-1-1 { background-color: #ffffff; border: 1px solid #000000;}
#cell-1-2 { background-color: #ffffcc; border: 1px solid #000000;}
#cell-1-3 { background-color: #ffff99; border: 1px solid #000000;}
#cell-1-4 { background-color: #ffff66; border: 1px solid #000000;}  
#cell-2-1 { background-color: #ffccff; border: 1px solid #000000;}
#cell-2-2 { background-color: #ffcccc; border: 1px solid #000000;}
#cell-2-3 { background-color: #ffcc99; border: 1px solid #000000;}
#cell-2-4 { background-color: #ffcc66; border: 1px solid #000000;}  
#cell-3-1 { background-color: #ff99ff; border: 1px solid #000000;}
#cell-3-2 { background-color: #ff99cc; border: 1px solid #000000;}
#cell-3-3 { background-color: #ff9999; border: 1px solid #000000;}
#cell-3-4 { background-color: #ff9966; border: 1px solid #000000;}
#cell-4-1 { background-color: #ff66ff; border: 1px solid #000000;}
#cell-4-2 { background-color: #ff66cc; border: 1px solid #000000;}
#cell-4-3 { background-color: #ff6699; border: 1px solid #000000;}
#cell-4-4 { background-color: #ff6666; border: 1px solid #000000;}

table{
    width: 75%;
    height: 300px;
    margin: auto;
    border-collapse: collapse;
    border-style : solid;
    table-layout: fixed;
}

footer{
    background-color: #5f93a0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    width: 75%;
    height: 25px;
    margin: auto;
}